
    <form method="post" asp-action="SearchHotel" asp-controller="Home">
        <div class="form-group position-relative">
            <label for="hotelLocation">Location</label>
            <input type="text" class="form-control" id="hotelLocation" name="location" placeholder="Enter location">
            <div id="HotelLocationList" class="dropdown-menu" style="display: none; position: absolute; width: 100%;">
                <!-- Suggested destinations will be appended here dynamically -->
            </div>
        </div>

        <div class="form-group">
            <label for="checkInDate">Check-in Date</label>
            <input type="date" class="form-control" id="checkInDate" name="checkInDate">
        </div>
        <div class="form-group">
            <label for="checkOutDate">Check-out Date</label>
            <input type="date" class="form-control" id="checkOutDate" name="checkOutDate">
        </div>
        <div class="form-group">
            <label for="numberOfGuests">Number of Guests</label>
            <input type="number" id="Number" name="NumberOfGuests" class="form-control" min="1" required>
        </div>
        <button type="submit" class="btn btn-secondary">Search Hotel</button>
    </form>
<h1>hot deal</h1>