<div class="search-tabs">
    <div class="search-tab active " id="btnTour">
        <div class="icon-and-text">
            🏝
            <span>Tour</span>
        </div>
        <div class="active-indicator"></div>
    </div>

    <div class="search-tab" id="btnHotel">
        <div class="icon-and-text">
            🏨
            <span>Hotel</span>
        </div>
        <div class="active-indicator" style="visibility: hidden;"></div>
    </div>

    <div class="search-tab " id="btnFlight">
        <div class="icon-and-text">
            ✈
            <span>Flight</span>
        </div>
        <div class="active-indicator" style="visibility: hidden;"></div>
    </div>

</div>