

<div class="row">
    <!-- Booking Type Tabs -->
    <div class="col-9 d-flex flex-wrap justify-content-center gap-2 mb-3">
        <a href="/Booking/BookedHotelList" class="btn btn-outline-danger tab-btn" data-tab="hotel">Hotel</a>
        <a href="/Booking/Index" class="btn btn-outline-danger tab-btn" data-tab="visa">Visa</a>
        <a href="#" class="btn btn-outline-danger tab-btn" data-tab="tour">Tour</a>
    </div>
</div>

@section MainLayoutScript {
    <script src="~/js/bookyayoutjs/bookingbartoggle.js"></script>

}

