
    <form method="post" asp-action="TourList" asp-controller="Home">
        <div class="form-group position-relative">
            <label for="tourDestination">Destination</label>
            <input type="text" class="form-control" id="tourDestination" name="destination" placeholder="Enter destination" autocomplete="off">
            <div id="destinationList" class="dropdown-menu" style="display: none; position: absolute; width: 100%;">
                <!-- Suggested destinations will be appended here dynamically -->
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="searchButton">Search Tour</button>
    </form>
<h1>Hot deals </h1>
<h2>popular Tour</h2>