.search-tabs {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.search-tab {
    text-align: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    padding: 10px;
    color: #333;
}

    .search-tab img {
        width: 25px;
        height: 25px;
        display: block;
        margin: 0 auto 5px;
    }

    .search-tab.active {
        color: #0056b3; /* Highlighted text color */
        font-weight: bold;
    }

        .search-tab.active img {
            filter: none; /* To make the image normal when active */
        }

    .search-tab img.inactive {
        filter: grayscale(100%);
    }

.active-indicator {
    height: 3px;
    width: 100%;
    background-color: #fdd835; /* Yellow underline */
    margin-top: 5px;
}

.tab-content {
    display: none;
    margin-top: 20px;
}

    .tab-content.active {
        display: block;
    }

.icon-and-text {
    position: relative;
}
