.card {
    border: none;
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
